<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Register</title>
</head>
<body>
<form action="/register" method="post">
    <div align="center">
        <h3>Enter the Employee Details</h3>
        Employee ID:<input type="number" name="empID" required><br><br>
        Employee Name:<input type="text" name="empName" required><br><br>
        Employee age:<input type="number" name="empAge" required><br><br>
        Employee Gender:<input type="text" name="empGender" required><br><br>
        Employee Salary:<input type="number" name="empSalary" required><br><br>
        <button type="submit">Register</button>
    </div>

</form>
</body>
</html>