<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="com.computer.mangement.Dev" autowire="byType">

    </bean>

    <bean id="comp" class="com.computer.mangement.Laptop" primary="true">
    </bean>
    <bean id="comp1" class="com.computer.mangement.Desktop">
    </bean>

</beans>